<h2>Welcome to Pizza Shop</h2>

<div class="row">

	<% @products.each do |p| %>
		<div class="col-md-3">
			<div>
				<h4><%= p.title %></h4>
			</div>

			<div>
				<img src="<%= p.path_to_image %>" width="150" height="150"/>
			</div>

			<div>
				<%= p.description %>
			</div>

			<div>
				Size: <%= p.size %> cm					
			</div>

			<div>
				Price: <%= p.price %> rub			
			</div>

			<div>
				<button class="btn btn-sm btn-success">Add to cart</button>
			</div>
		</div>
	<% end %>

</div>
<button class="btn btn-primary btn-large" onclick="something()">Click me</button>
